.iansui-regular {
    font-family: "Iansui", cursive;
    font-weight: 400;
    font-style: normal;
}
  
html, body {
    background: linear-gradient(#e292e2, #9198e5);
    margin: 0;
    padding: 0;
    height: 100%;
}
.importantStuff {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}
.caption {
    height: 0%;
    background: linear-gradient(0.25turn, #dfb33a, #f69d3c);
    border-radius: 15px;
}
.squid {
    height: 50%;
}
.gabriel {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    font-family: Iansui;
}
.gabriel, h1 {
    padding-right: 2%;
}
.gabriel, p {
    padding-right: 2%;
}